.footerList {
  --footerMenuColumns: 6;

  display: grid;
  grid-template-columns: repeat(var(--footerMenuColumns), 1fr);
  gap: 30px fluid(30, 10);

  // padding-block: fluid(100, 50);
  @include laptop {
    --footerMenuColumns: 3;
  }

  @include mobile {
    --footerMenuColumns: 2;
  }
}
