.planSection {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);
}

.planSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
}
