.detailsStyle{
  border: var(--border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-grey-06);
}
.summaryStyle {
  list-style: none;
}
.accordionContent {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}
::-webkit-details-marker {
  display: none;
}

