.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(
      0deg,
      rgb(15 15 15 / 100%) 2%,
      rgb(20 15 15 / 97%) 16%,
      rgb(34 14 14 / 91%) 28%,
      rgb(229 0 0 / 20%) 100%
    ),
    url('../public/content.png') no-repeat center center/cover;
  justify-content: center;
}
.authPageTab {
  padding: fluid(15, 5) fluid(80, 40);
}
.authPageForm {
  display: flex;
  flex-direction: column;
  row-gap: fluid(15, 5);
  opacity: 0.9;
}
