.imgCategoriesMovies {
  height: 123px;
  width: 116px;
  border-radius: var(--border-radius-s);
  background: linear-gradient(0deg, rgb(26, 26, 26, 0) 0%, rgb(26, 26, 26, 1) 100%);
}
.sectionPreviewUrl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  position: relative;
}
.sectionPreviewUrl::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.7) 0%, rgba(26, 26, 26, 0) 60%);
  pointer-events: none;
  z-index: 1;
}

.moviesCard {
  border: var(--border);
  padding: fluid(30,20);
  border-radius: var(--border-radius-m);
  background-color: var(--color-grey-10);
}
.movieCardBody {
  display: flex;
  justify-content: space-between;
}