.imgCategoriesMovies {
  border-radius: var(--border-radius-s);
  background: linear-gradient(0deg, rgb(26, 26, 26, 0) 0%, rgb(26, 26, 26, 1) 100%);
}
.imgCategories {
  height: 100%;
}
.sectionPreviewUrl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  position: relative;
  height: auto;
}
.sectionPreviewUrl::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.7) 0%, rgba(26, 26, 26, 0) 60%);
  pointer-events: none;
  z-index: 1;
}

.labelTopInGenres {
  background-color: var(--color-red-45);
  padding: 8px;
  border-radius: var(--border-radius-xxxs);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.descriptionCardBody {
    font-size: fluid(20,12);
}
.moviesCard {
  border: var(--border);
  padding: fluid(30,20);
  border-radius: var(--border-radius-m);
  background-color: var(--color-grey-10);
  display: flex;
  flex-direction: column;
}
.movieCardBody {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  max-height: 66px;
}
.arrowButton {
  width: 20px;
  height: fluid(24,20);
}
