@import '../../../styles/styles.scss';

.burgerButton {
    @include square(48px);
    border: var(--border-width-s) solid var(--color-grey-15);
    border-radius: var(--border-radius-m);
    background-color: var(--color-grey-06);
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burgerButtonLine {
    background-color: var(--color-white);
    width: 18px;
    height: 2px;
    border-radius: var(--border-radius-s);

}
.burgerButtonLineThird {
    background-color: var(--color-white);
    width: 9px;
    height: 2px;
    border-radius: var(--border-radius-s);
}