$fonts-path: '@/assets/fonts/';

@font-face {
  font-family: 'Manrope';
  src: url('#{$fonts-path}Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url("#{$fonts-path}Manrope-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url("#{$fonts-path}Manrope-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url("#{$fonts-path}Manrope-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

