body {
  font-family: var(--font-family-base);
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-10);
  color: var(--color-white);
}

a, button,
input, textarea,
svg *{
  transition: var(--transition-duration);
}

h1, .h1 {
  @include fluid-text(58, 28)
}
h2, .h2 {
  @include fluid-text(48, 24)
}
h3, .h3 {
  @include fluid-text(38, 20)
}
h4, .h4 {
  @include fluid-text(24, 18)
}
h5, .h5 {
  @include fluid-text(22, 18);
  font-weight: 500;
  color: var(--color-white);
}
h6, .h6 {
  @include fluid-text(20, 16)
}

h1, .h1,
h2, .h2,
h3, .h3 {
font-weight: 700;
color: var(--color-white);
}

h4, .h4,
h6, .h6 {
  font-weight: 600;
  color: var(--color-white);
}

a{
  color: inherit;
  text-decoration: none;
  @include hover {
    color: var(--color-red-45);
  }
}
ul {
  list-style: none;
}


