:root {
  --color-white: #FFF;
  --color-black: #000;

  --color-red-45: #E50000;
  --color-red-50: #FF0000;
  --color-red-55: #FF1919;
  --color-red-60: #FF3333;
  --color-red-80: #FF9999;
  --color-red-90: #FFCCCC;
  --color-red-95: #FFE5E5;
  --color-red-99: #FFFAFA;

  --color-grey-06: #0F0F0F;
  --color-grey-08: #141414;
  --color-grey-10: #1A1A1A;
  --color-grey-12: #1F1F1F;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-25: #404040;
  --color-grey-30: #4C4C4C;

  --color-grey-light-60: #999999;
  --color-grey-light-65: #A6A6A6;
  --color-grey-light-70: #B3B3B3;
  --color-grey-light-75: #BFBFBF;
  --color-grey-light-90: #E4E4E7;
  --color-grey-light-95: #F1F1F3;
  --color-grey-light-97: #F7F7F8;
  --color-grey-light-99: #FCFCFD;


  --border: 1px solid var(--color-grey-15);

  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 4px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Manrope', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}