:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red-45: #e50000;
  --color-red-50: #f00;
  --color-red-55: #ff1919;
  --color-red-60: #f33;
  --color-red-80: #f99;
  --color-red-90: #fcc;
  --color-red-95: #ffe5e5;
  --color-red-99: #fffafa;
  --color-grey-06: #0f0f0f;
  --color-grey-08: #141414;
  --color-grey-10: #1a1a1a;
  --color-grey-12: #1f1f1f;
  --color-grey-15: #262626;
  --color-grey-20: #333;
  --color-grey-25: #404040;
  --color-grey-30: #4c4c4c;
  --color-grey-light-60: #999;
  --color-grey-light-65: #a6a6a6;
  --color-grey-light-70: #b3b3b3;
  --color-grey-light-75: #bfbfbf;
  --color-grey-light-90: #e4e4e7;
  --color-grey-light-95: #f1f1f3;
  --color-grey-light-97: #f7f7f8;
  --color-grey-light-99: #fcfcfd;
  --border: 1px solid var(--color-grey-15);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 4px;
  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;
  --font-family-base: 'Manrope', sans-serif;
  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;
  --section-padding-y: #{fluid(75, 40)};
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
