.categorieCardSlider {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorySection {
  margin-top: fluid(75, 40);
  margin-bottom: fluid(75, 40);
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);
}

h3 {
  margin: 0;
  padding: 0;
}

.paginationAndNavigation {
  background-color: var(--color-grey-06);
  padding: fluid(16, 12);
  border: var(--border);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: row;
  column-gap: fluid-to-laptop(16, 12);
  align-items: center;
  justify-content: center;

  @include tablet {
    border: none;
    background-color: inherit;
  }
}

.slider-prev {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoriesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: fluid(80, 40);
}

.categoryTitle {
  display: flex;
  flex-direction: column;
  row-gap: fluid-to-laptop(14, 10);
}

.buttonNavigation {
  padding: fluid-to-laptop(14, 10);
  border: var(--border);
  border-radius: var(--border-radius-s);
}

.buttonNavigationArrow {
  width: fluid-to-laptop(28, 24);
  height: fluid-to-laptop(28, 24);
  display: flex;
  align-items: center;
}

.buttonNavigationArrowLeft {
  rotate: 180deg;
}

.paginationForTablet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px; /* Уменьшаем расстояние между буллетами */
  min-height: 20px;
}

:global(.swiper-pagination-bullet) {
  width: fluid-to-laptop(16, 14);
  height: 4px;
  border-radius: 4px;
  background: var(--color-grey-20);
  opacity: 1;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--color-red-45);
    width: 23px;
  }
}

:global(.swiper-pagination-bullet-active) {
  background: var(--color-red-45) !important;
  width: fluid-to-laptop(23, 18);
}
