.moviesCard {
  padding: fluid(20, 12);
  border: var(--border);
  border-radius: var(--border-radius-l);

  @include tablet {
    border-radius: var(--border-radius-m);
  }

  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 12);
}

//.moviesCardTrendingNow {
//  display: grid;
//  grid-template-rows: 1fr auto;
//  height: 100%;
//  width: 100%;
//}

.showsCardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.moviesCardImg {
}
.moviesCardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.moviesCardContainer {
}
.movieCardLength {
  display: flex;
  column-gap: 2px;
  border: var(--border);
  border-radius: 51px;
  background-color: var(--color-grey-08);
  align-items: center;
  padding: 0 6px;
  color: var(--color-grey-light-60);
  white-space: nowrap;
}

.movieCardRating {
  display: flex;
  column-gap: 6px;
  border: var(--border);
  border-radius: 51px;
  background-color: var(--color-grey-08);
  align-items: center;
  padding: 0 6px;
  color: var(--color-grey-light-60);
}

.movieCardReleased {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: 51px;
  background-color: var(--color-grey-08);
  color: var(--color-grey-light-60);
}

.movieCardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: fluid(12, 8) 0 0;
  gap: fluid(12, 8);
}

.movieCardDescription {
  font-size: 10px;
}

.movieCardTimeIcon {
  width: fluid-to-laptop(24, 20);
  height: fluid-to-laptop(24, 20);
}

.movieCardRating {
  max-width: 147px;
}

.movieCardRatingStar {
  width: fluid(17, 10);
  height: fluid(17, 10);
}

.showsTrendingNow {
  display: flex;
  column-gap: 5px;
  border: var(--border);
  border-radius: var(--border-radius-s);
  padding: 5px;
}

.showsTrendingNowDescription {
  font-size: 10px;
}

// .moviesCard {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  row-gap: fluid(20,12);
//  width: fluid(244,144) !important ;
// }
// .moviesCardTrendingNowImg {
//
// }
.movieCardBody {
  display: flex;
  justify-content: space-between;
}

// .movieCardLength, .movieCardRating {
//  display: flex;
// }
