.photoCast {
  display: block;
  width: fluid(102, 70) !important;
  height: fluid(109, 70);
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}
.seasonTitle {
  @include fluid-text(24, 16);
}
.seasonEpisodes {
  @include fluid-text(18, 14);
  color: var(--color-grey-light-60);
}
.infoLabel {
  font-size: fluid-to-laptop(18, 16);
  color: var(--color-grey-light-60);
}
.infoIcon {
  width: fluid-to-laptop(24,20);
  height: fluid-to-laptop(24,20);
  color: var(--color-grey-light-60);
}
.raitingTag {
  display: flex;
  flex-direction: column;
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: 8px 14px;
  border-radius: var(--border-radius-s);
  row-gap: 5px;
  width: 100%;
}
.raitingTagBody {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}
.cardPhotoCast {
  display: flex;
  flex-direction: column;
  width: fluid(102, 70) !important;
  height: auto;
  row-gap: 20px;
}
.buttonHeaderMovieCard {
  display: flex;
  column-gap: 10px;
}
.headerMovieCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  margin-bottom: 30px;
}
.castMovieCard {
  max-width: 1057px;
  padding: 50px;
  border: var(--border);
  border-radius: var(--border-radius-m);
}
.prevButton {
  border: var(--border);
  @include square(52);
  border-radius: 50%;
  padding: 14px;
  @include flex-center;
}

.review {
  max-width: 1057px;
  padding: 50px;
  border: var(--border);
  border-radius: var(--border-radius-m);
}
.reviewCardSection {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}

.paginationMovieCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 40px;
}

.movieContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
}
.movieInfo {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;padding: fluid-to-laptop(32, 27) fluid-to-laptop(50,40);

}
.summaryTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.openAccordeon {
  border: var(--border);
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.serialInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: var(--border);
  padding: 40px;
  border-radius: var(--border-radius-l);
}
.asidePanel {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 50px;
  border: var(--border);
  border-radius: var(--border-radius-l);
  width: 100%;
  height: fit-content;
}
.buttonAdd {
  background-color: var(--color-grey-06);
  color: var(--color-grey-light-75);
  border: var(--border);
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  column-gap: 4px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.sectionList {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.infoTag {
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: 8px 14px;
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.arrow {
  border: var(--border);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  @include flex-center;
  transition: transform 0.3s ease;
}

:global(details[open]) .arrow {
  transform: rotate(180deg);
  color: var(--color-red-45);
}

.directorSection {
  display: flex;
  flex-direction: row;
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: fluid(18.5, 14.5) fluid(14, 12);
  border-radius: var(--border-radius-s);
  column-gap: 10px;
  align-items: center;
}
.photoPerson {
  width: fluid(40,30);
  height: fluid(58,48);
  border-radius: 4px;
}
.creators {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20,15);
}
.reviewOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsStyle {

  border: var(--border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-grey-06);
}