.photoCast {
  display: block;
  width: fluid(102, 70) !important;
  height: fluid(109, 70);
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}

.seasonTitle {
  @include fluid-text(24, 16);
}

.seasonEpisodes {
  @include fluid-text(18, 14);

  color: var(--color-grey-light-60);
}

.infoLabel {
  font-size: fluid-to-laptop(18, 16);
  color: var(--color-grey-light-60);
}

.infoIcon {
  width: fluid-to-laptop(24, 20);
  height: fluid-to-laptop(24, 20);
  color: var(--color-grey-light-60);
}

.raitingTag {
  display: flex;
  flex-direction: column;
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: 8px 14px;
  border-radius: var(--border-radius-s);
  row-gap: 5px;
  width: 100%;
}

.raitingTagBody {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}

.cardPhotoCast {
  display: flex;
  flex-direction: column;
  width: fluid(102, 70) !important;
  height: auto;
  row-gap: 20px;
}

.buttonHeaderMovieCard {
  display: flex;
  column-gap: 10px;
}

.headerMovieCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  margin-bottom: 30px;
}

.prevButton {
  border: var(--border);

  @include square(52);

  border-radius: 50%;
  padding: 14px;

  @include flex-center;
}

.reviewCardSection {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}

.paginationMovieCard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.paginationContainer {
  grid-column: 2;
  display: flex;
  justify-content: center;
  position: relative;
  height: 20px;
  width: 120px;
}

.paginationContainer :global(.custom-swiper-pagination) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.buttonNavigationArrowLeft {
  transform: rotate(180deg);
}

.buttonNavigationLeft,
.buttonNavigation {
  border: var(--border);
  padding: fluid-to-laptop(20, 16);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-08);
}

.movieContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
  gap: 30px;

  @include tablet-above {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @include tablet {
    .asidePanel {
      order: -1 !important;
    }

    .description {
      order: -2 !important;
    }

    .serialInfo {
      order: -3 !important;
    }

    .castMovieCard {
      order: 1 !important;
    }

    .review {
      order: 2 !important;
    }
  }
}

.movieInfo {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include tablet {
    display: contents;
  }
}

.castMovieCard {
  max-width: fluid-to-laptop(1057, 850);
  padding: 50px;
  border: var(--border);
  border-radius: var(--border-radius-m);
}

.review {
  // max-width: 1057px;
  max-width: fluid-to-laptop(1057, 850);
  padding: fluid(50, 24);
  border: var(--border);
  border-radius: var(--border-radius-m);
}

.summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: fluid-to-laptop(32, 27) fluid-to-laptop(50, 40);
}

.summaryTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.openAccordeon {
  border: var(--border);
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.serialInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: var(--border);
  padding: 40px;
  border-radius: var(--border-radius-l);
}

.asidePanel {
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  padding: fluid-to-laptop(50, 24);
  border: var(--border);
  border-radius: var(--border-radius-l);

  // width: 100%;
  height: fit-content;

  @include tablet {
    order: 2;
  }
}

.buttonAdd {
  background-color: var(--color-grey-06);
  color: var(--color-grey-light-75);
  border: var(--border);
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  column-gap: 4px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.sectionList {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.infoTag {
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: 8px 14px;
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.arrow {
  border: var(--border);
  width: 52px;
  height: 52px;
  border-radius: 50%;

  @include flex-center;

  transition: transform 0.3s ease;
}

:global(details[open]) .arrow {
  transform: rotate(180deg);
  color: var(--color-red-45);
}

.directorSection {
  display: flex;
  flex-direction: row;
  border: var(--border);
  background-color: var(--color-grey-06);
  padding: fluid(18.5, 14.5) fluid(14, 12);
  border-radius: var(--border-radius-s);
  column-gap: 10px;
  align-items: center;
}

.photoPerson {
  width: fluid(40, 30);
  height: fluid(58, 48);
  border-radius: 4px;
}

.creators {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 15);
}

.reviewOverlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsStyle {
  border: var(--border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-grey-06);
}
