.freeTrialPromoSection {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-l);
  border: var(--border);
  margin-bottom: fluid(150, 80);
  background: linear-gradient(90deg,
          rgba(15, 15, 15, 1) 2%,
          rgba(20, 15, 15, 0.97) 16%,
          rgba(34, 14, 14, 0.91) 28%,
          rgba(229, 0, 0, 0.2) 100%),
  url("@/assets/images/FreeTrial.svg") center center no-repeat;

  height: fluid-to-laptop(313, 236);
  padding: fluid-to-laptop(100,80) fluid-to-laptop(80, 60);

  @include mobile {
    height: 344px;
    padding: 50px 30px;
  }
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.freeTrialPromoHeader {
  display: flex;
  flex-direction: column;
  row-gap: fluid-to-laptop(14, 10);

  @include mobile {
    row-gap: 10px;
  }
}
.freeTrialPromoButton {
  display: inline-flex;
  align-items: center;
}