.searchForm {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: fluid(400, 300);
  height: 50px;
  border: var(--border);
  border-radius: var(--border-radius-m);
  background-color: var(--color-grey-30);
  color: var(--color-grey-light-99);
  padding: 0 fluid(30, 10);
  margin-bottom: fluid(10, 5);
}
