.HeroIconButton {
  background-color: var(--color-grey-06);
  border-radius: var(--border-radius-s);
  padding: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.heroButton {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.heroContainer {
  position: relative;
  width: 100%;
}

.heroPoster {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-l);
}
.heroContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #141414 100%);
  pointer-events: none;
  z-index: 1;
}

.heroContent {
  position: absolute;
  bottom: fluid(20,16);
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.heroContentInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.heroButton {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.heroContentHeader {
  width: fluid(1494, 310);
}
.heroPosterTitle {
  display: flex;
  justify-content: center;
}
.heroPosterDescription {
  display: flex;
  justify-content: center;
}

.likeButton {
  color: var(--color-white);
}
.likeButtonActive {
  color: var(--color-red-45);
}