.HeroIconButton {
  background-color: var(--color-grey-06);
  border-radius: var(--border-radius-s);
  padding: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroButton {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.heroPoster {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}