.moviePage {
  margin-top: fluid-to-laptop(200,100);
  display: flex;
  flex-direction: column;
}
.moviePageTab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.moviePageButton {
  width: 100%;
  text-align: center;
  padding: fluid(16, 12) fluid(24, 16);
}
