.forgetPasswordPage {
  border: var(--border);
  border-radius: var(--border-radius-l);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(
      0deg,
      rgb(15 15 15 / 100%) 2%,
      rgb(20 15 15 / 97%) 16%,
      rgb(34 14 14 / 91%) 28%,
      rgb(229 0 0 / 20%) 100%
    ),
    url('../public/content.png') no-repeat center center/cover;
  justify-content: center;
}
.forgetPasswordDescription {
  padding: fluid(20, 10);
  width: 300px;
  background: var(--color-grey-12);
  border-radius: var(--border-radius-l);
}
.forgetPasswordForm {
  background: var(--color-grey-06);
  padding: fluid(80, 40);
  border: var(--border);
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 15);
}
.forgetPasswordEmail {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
}
